<p>update works!</p>
<div class="row">
        <div class="float-right">
            <button (click)="logout()" routerLink="/login">Logout</button>
        </div>
    </div>

<div *ngIf="reminder">
    <div class="border border-dark rounded col-4 inline m-2 p-3">

        <form #update="ngForm" (submit)="updateNote(update)" >
                <input type="hidden" name="noteid"  [(ngModel)] = "reminder.noteId" > 
                <!-- <input name="reminder" placeholder ="{{reminder[0].reminder}}" ngModel> -->
                <!-- <input type="text" name="reminder" [(ngModel)]="reminder.reminder" placeholder="Description Here" /> -->
                <textarea rows="10" cols="50" name="reminder" [(ngModel)]="reminder.reminder" placeholder="Description Here" ></textarea>
                <p></p>
                <button class="btn btn-dark rounded ml-2">Submit</button>
                <button class="btn btn-light rounded ml-2" routerLink="/home">Cancel</button>
        </form>
    </div>

</div>