<div *ngIf="replyerrors">
    <div *ngFor="let error of replyerrors">
        <h5>{{error}}</h5>
    </div>
</div>

<div class="row">
    <div *ngIf="user" class="col-5">
        <h5>{{user.userName}} {{user.userId}}</h5>
    </div>
    <div>
        <button (click)="logout()" routerLink="/login">Logout</button>
    </div>
</div>
<div class="container-fluid">
    <form (submit)="addNote(noteValue)" #noteValue="ngForm">

        <label for="reminder">Add Reminder</label>
        <p></p>
        <textarea name="reminder" id="reminder" placeholder="New Reminder Here" ngModel></textarea>
        <p></p>
        <input type="submit" value="Add Reminder"/>
        <a class="btn btn-dark rounded ml-2" routerLink="/home">Cancel</a>
    </form>

    <div class="row" *ngIf="notes">
        <div class="border border-dark rounded col-3 inline m-2" *ngFor="let note of notes">
            note.reminder: {{note.reminder}}
            noteId: {{note.noteid}}
            <form class="mb-3" (submit)="updateNote(updateValue)" #updateValue="ngForm">
                <input type="hidden" name="noteId" id="noteid" value="{{note.noteid}}" >
                <label for="updatereminder">Reminder</label>
                <p></p>
                <textarea class="rounded" type="text" name="updatereminder" id="reminder"  value="{{note.reminder}}" >{{note.reminder}}</textarea>
                <p></p>
                <input class="btn btn-dark rounded mb-2" type="submit" value="Update Reminder" />
                <button (click) = "deleteNote(note.noteid)" routerLink="/home">Delete Reminder</button>
            </form>
        </div>
    </div>
</div>